html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0px;
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  font-family: 'Raleway', sans-serif;
  background: lightgray;
  overflow: hidden;
}

cover {
  margin: 0px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-image: url(/lecturepic.png);
  background-size: cover;
  filter: blur(1px);
  z-index: -1000;
}

.topic{
  padding: 10px;
  margin-left: 15px;
  font-size: 40px;
  font-weight: 700;
  width:100%;
  text-align: center;
}

a {
  text-decoration: none;
  color: #ffffff;
}

p{
  margin:0;
}

header {
  display: flex;
  position: fixed; 
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: transparent;
  align-items: center;
  z-index:-10;
  color: #fff;
  height: 310px;
}

header2{
  position: fixed; 
  right: 0;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color:lightseagreen;
  color: #fff;
  font-weight: 500;
  font-size: 20px;
  z-index:10;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vh;
}

.home-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.join-state{
  z-index: 100;
  padding: 30px;
  display: flex;
  flex-direction: column;
}

form{
  display: flex;
  flex-direction: column;
}

<<<<<<< HEAD
/*-----------MEDIA-----------*/
@media screen and (max-width:490px) {
  html,header,cover, body {
    width:100vw;
    padding:0;
    overflow: hidden;
  }
=======
.app-button{
  height: 20px;
  width: 200px;
>>>>>>> d706d208a21cda2ced9b2d1734226d1e06c9ec13
}